html {
    height: 100%;
  }
  
  body {
    background-color: #C6C6C6;
    color:rgb(0, 0, 0);
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    
  }
  
  header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform:uppercase;
    background-color: #535353;
    text-shadow: 0px 7px #4E7922;
    color: #A8CF40;
    font-size: 36px;
    width: 100%;
    padding: 1px;
    text-align: center;
    
    flex: none;
  }

  nav{
    align-items: center;
    text-transform:uppercase;
    border-bottom: #A8CF40;
    border-top: #A8CF40;
    border-width: 3px;
    border-style: solid;
    border-left: none;
    border-right: none;
    background-color: #535353;
    color: #A8CF40;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 2px #4E7922;

    
    flex: none;
  }
  nav a {
    color: #A8CF40;
    border: #A8CF40;
    border-width: 1px;
    border-style: solid;
    text-decoration:none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
nav a:hover {
    text-decoration:none;
    color: #A8CF40;
    background-color: #5c5c5c;
    text-shadow: 0px 2px #4E7922;
}
  
 
  .navbar {
    overflow: hidden;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    text-decoration: none;
  }
  
  /* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  border: #A8CF40;
  border-width: 1px;
  border-style: solid;
}

/* Dropdown button */
.dropdown .dropbtn {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform:uppercase;
  color: #A8CF40;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 2px #4E7922;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(104, 104, 104);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  background-color: #535353;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-color: #535353;
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(104, 104, 104);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
  
  main {
    vertical-align:bottom;
    align-self: center;
    max-width: 850px;
    margin-right:100px;
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #E4E4E4;
    flex: auto;
  }
  .davetext {
    font-family: 'Courier New', Courier, monospace;
    color: #E00707;
    font-weight: bold;
  }
  .rosetext{
    font-family: 'Courier New', Courier, monospace;
    color: #b536da;
    font-weight: bold;
  }
  .johntext{
    font-family: 'Courier New', Courier, monospace;
    color: #0715cd;
    font-weight: bold;
  }
  .dirktext{
    font-family: 'Courier New', Courier, monospace;
    color: #f2a400;
    font-weight: bold;
  }
  .jaketext{
    font-family: 'Courier New', Courier, monospace;
    color: #1f9400;
    font-weight: bold;
  }
  .uranianUmbra {
    font-family: 'Courier New', Courier, monospace;
    color: #7c7c7c;
    font-weight: bold;
  }
  main h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 34px;
  }
  .Karkat{
    float:right;
    font-size: 12px;
    text-align: center;
  }
  .Aspects{
    float:left;
    padding-right: 20px;
    font-size: 12px;
    text-align: center;
  }
  .rightHandPicture{
    float:right;
    padding-right: 20px;
    font-size: 12px;
    text-align: center;
  }
  .leftHandPicture{
    float:left;
    padding-right: 20px;
    font-size: 12px;
    text-align: center;
  }
  .TSI a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  .TSIbackhome{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
  }
  
  footer {
    flex: none;
    background-color: #363636;
    color:#BFDB70;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    bottom: 0;
    left: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }